*.iml
.gradle
/local.properties
.claude/
.kotlin/
app/release/*.apk
app/release/baselineProfiles/
/.idea/workspace.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
app/build
.externalNativeBuild
.cxx
local.properties
